name: Distribute to PyPI

on:
  push:
    tags:
      - v*

jobs:
  call-version-info-workflow:
    uses: ASFHyP3/actions/.github/workflows/reusable-version-info.yml@v0.7.0

  distribute:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: mamba-org/provision-with-micromamba@v15

      - name: Build distribution
        id: build
        run: |
          python -m build

      - name: upload to PyPI.org
        uses: pypa/gh-action-pypi-publish@v1.6.4
        with:
          user: __token__
          password: ${{ secrets.TOOLS_PYPI_PAK }}

  verify-distribution:
    runs-on: ubuntu-latest
    needs:
      - call-version-info-workflow
      - distribute
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2

      - uses: mamba-org/provision-with-micromamba@v15

      - name: Ensure asf_tools v${{ needs.call-version-info-workflow.outputs.version }}} is pip installable
        run: |
          python -m pip install asf_tools==${{ needs.call-version-info-workflow.outputs.version_tag }}
